<div class="row">
  Username: {{username}} <a href="/users/logout"> Logout</a>
</div>

<form method="POST" action="/covida/site/groups" username='{{username}}'>
  <div class="form-group">
    <label>Group Name</label>
    <input name="name" class="form-control" placeholder="Insert Group name here" value="{{name}}" type="name">
  </div> 
  <div class="form-group">
    <label>Group Description</label>
    <input name="description" class="form-control" placeholder="Insert Group description here" value="{{description}}" type="description">
  </div>
  <div></div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block"> Create Group </button>
  </div>
</form>

<div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
           
          {{#each groups}}
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <div class="card-body">
                      <p class="card-text">Name : {{name}}</p>
                      <p class="card-text">Description : {{description}}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href='/covida/site/groups/{{id}}'> 
                            <button class="btn btn-outline-secondary"> Group details </button>
                          </a> 
                        </div>
                        <div class="delete-btn-group">  
                             <!-- insert in script to process delete --> 
                            <button onclick=deleteGroup({{id}}) class="deleteGroup btn btn-outline-danger"> Delete group</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            {{/each}}

          </div>
        </div>
</div>
<script src="/js/groups.js"></script>