
<a href="/covida/site/groups">
        <button  class="btn btn-secondary" id="BackGroups">Back to groups</button>
        </button>
    </a>

{{#with group as |group|}}
  <h3> Group Information</h3>

    <div class="card mb-4 box-shadow">
          <div class="card-body">
            <p class="card-text">Name: {{name}}</p>
            <input class="form-control mb-2" type="text" id="groupName" placeholder = "Change name">
            <p class="card-text">Description: {{description}}</p>
            <input class="form-control mb-2" type="text" id="groupDescription" placeholder = "Change description">
            <button onclick=editGroup({{group.id}}) class="btn btn-success" id="editGroupButton"> Save Changes</button>
        </div>
    </div>
  <!-- </form> -->

  <h3> Search Games Between : </h3>

  <input class="form-control mb-2" type="number" id="minRating" value="{{minRating}}"  placeholder="Minimum Rating">
  <input class="form-control mb-2" type="number" id="maxRating" value="{{maxRating}}" placeholder="Max Rating">
  <!-- Input to url -->
  <button onclick=filterGames({{id}}) class="btn btn-secondary" id="getGamesFromGroupWithinRange">Search</button>
  

  <h2> Group Games </h2>
  <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
           {{#each games as |games|}}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">Name: {{name}}</p>
                  <p class="card-text">Rating: {{total_rating}}</p>
                  <p class="card-text">Summary: {{summary}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button onclick=removeGameFromGroup({{../id}},{{id}}) class="deleteGameOfGroup btn btn-sm btn-outline-danger" id='{{id}}'>Remove</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}

          </div>
        </div>
    </div>
    <a href="{{id}}/games">
        <button  class="btn btn-secondary" id="getGames">Add more games</button>
        </button>
    </a>
{{/with}}

<script src="/js/groupDetails.js" ></script>